.message {
  display: flex;
    flex-direction: column;  
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .message-positive {
    background-color: #82dd82; /* Light green */
    border-color: #07f83f;
  }
  
  .message-negative {
    background-color: #e68f8f; /* Light red */
    border-color: #f7061e;
  }
  
  .message-neutral {
    background-color: #81b7ed; /* Light gray */
    border-color: #0553f0;
  }